@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
@font-face {
  font-family: sezim;
  src: url(./font/Gamaleon.ttf);
}
@font-face {
  font-family: text;
  src: url(./font/RomanD.ttf);
}
body {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

span {
  font-family: "Alegreya", serif;
}
span::before {
  content: "-";
}
span::after {
  content: "-";
}

.invitationBlock {
  width: 100%;
  height: 100vh;
  background-image: url(./images/invitation.JPG);
  background-size: cover;
  position: relative;
}
.invitationBlock--text {
  width: 70%;
  left: 15%;
  top: 60%;
  position: absolute;
}
.invitationBlock--text h2 {
  width: 100%;
  color: #fff;
  font-size: 45px;
  font-family: sezim;
  font-weight: 100;
  margin: 10px auto;
}
.invitationBlock--text p {
  color: #fff;
  font-size: 20px;
}

.quoteBlock {
  width: 100%;
  background-image: url(./images/quote.JPG);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.quoteBlock p {
  font-family: text;
  width: 85%;
  top: 50%;
  left: 7%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  padding: 10px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(170, 170, 170, 0.5019607843);
  color: #161616;
}

.dearGuest {
  padding: 20vh 0;
  width: 100%;
  text-align: center;
  z-index: 0;
  position: relative;
}
.dearGuest .dear-img {
  border-radius: 30px;
  height: 200px;
}
.dearGuest--blur {
  top: 35%;
  position: absolute;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
.dearGuest--blur h2 {
  font-weight: 400;
}
.dearGuest--blur p {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: 10px auto;
  font-weight: 300;
  letter-spacing: 1px;
}

.inviteYouBlock {
  width: 100%;
  margin: 20px auto;
  background-image: url(./images/inviteYou.JPG);
  background-size: cover;
  padding: 5vh 0;
}
.inviteYouBlock--text {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.3647058824);
}
.inviteYouBlock--text h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
.inviteYouBlock--text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.inviteYouBlock--text h2 {
  font-family: "Montserrat", sans-serif;
}
.inviteYouBlock--text div {
  margin-bottom: 50px;
}
.inviteYouBlock--text div span {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 100;
}
.inviteYouBlock--text div h4 {
  margin: 10px auto;
  font-weight: bold;
}
.inviteYouBlock--text div p {
  margin: 0 auto;
}

.guestMessage {
  background-image: url(./images/guestMessage.JPEG);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.guestMessage div {
  width: 90%;
  background: rgba(255, 255, 255, 0.5803921569);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  border-radius: 25px;
  left: 5%;
  top: 40%;
  padding: 30px 0;
}
.guestMessage div p:first-child {
  width: 80%;
  margin: 20px auto;
}
.guestMessage div i {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  font-weight: 300;
}

.guestForm {
  width: 100%;
  background-image: url(./images/inviteYou.JPG);
  background-size: cover;
  height: 100vh;
  padding: 40px 0;
}

.guestForm--textWrapper {
  background: rgba(255, 255, 255, 0.4784313725);
  width: 70%;
  padding: 40px;
  margin: 10vh auto;
  border: 1px solid rgba(219, 188, 167, 0.3568627451);
  border-radius: 25px;
}
.guestForm--textWrapper h2 {
  font-family: "Montserrat", sans-serif;
}
.guestForm--textWrapper p {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: 10px auto;
}
.guestForm--textWrapper form {
  font-family: "Montserrat", sans-serif;
  width: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.guestForm--textWrapper form input {
  margin-bottom: 5px;
  padding: 5px 15px;
  height: 20px;
  font-size: 14px;
  border-radius: 10px;
}
.guestForm--textWrapper form button {
  font-size: 16px;
  border-radius: 15px;
  border: none;
  padding: 10px 0;
  background: #000;
  color: #fff;
}/*# sourceMappingURL=index.css.map */