@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@font-face {
  font-family: sezim;
  src: url(./font/Gamaleon.ttf);
}
body {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

p {
  font-family: "Playfair Display", serif;
}

img {
  width: 100%;
}

span {
  font-family: "Alegreya", serif;
}
span::before {
  content: "-";
}
span::after {
  content: "-";
}

.invitationBlock h2 {
  font-size: 55px;
  font-family: sezim;
  font-weight: 100;
  margin: 10px auto;
}
.invitationBlock p {
  font-size: 20px;
}

.quoteBlock {
  width: 100%;
  background-image: url(./images/quote.JPG);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.quoteBlock p {
  width: 70%;
  left: 15%;
  top: 50%;
  position: absolute;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  background: #d3a27f;
}

.dearGuest {
  padding: 20vh 0;
  width: 100%;
  background-image: url(./images/guest.JPEG);
  background-size: cover;
  text-align: center;
}
.dearGuest--blur img {
  width: 100px;
}
.dearGuest--blur p {
  width: 80%;
  margin: 10px auto;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.inviteYouBlock h4 {
  text-transform: uppercase;
  font-weight: normal;
}
.inviteYouBlock h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}
.inviteYouBlock div {
  margin-bottom: 50px;
}
.inviteYouBlock div span {
  font-size: 24px;
  font-weight: 100;
}
.inviteYouBlock div h4 {
  margin: 10px auto;
  font-weight: bold;
}
.inviteYouBlock div p {
  margin: 0 auto;
}

.guestMessage {
  background-image: url(./images/guestMessage.JPEG);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.guestMessage div {
  width: 90%;
  background: #fff;
  position: absolute;
  border-radius: 25px;
  left: 5%;
  top: 20%;
}
.guestForm {
  width: 100%;
  background-image: url(./images/guestForm.JPG);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.guestForm--textWrapper {
  background: #d1a585;
  width: 70%;
  position: absolute;
  padding: 10px;
  top: 60%;
  left: 15%;
  border: 1px solid #a17c61;
  border-radius: 25px;
}
.guestForm--textWrapper form {
  width: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.guestForm--textWrapper form input {
  margin-bottom: 5px;
  padding: 5px 15px;
  height: 20px;
  font-size: 14px;
}
.guestForm--textWrapper form button {
  font-size: 16px;
  border-radius: 15px;
  border: none;
  padding: 10px 0;
  background: #000;
  color: #fff;
}/*# sourceMappingURL=index.css.map */