@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


@mixin motserat {
  font-family: 'Montserrat', sans-serif;
}
@mixin cursive {
  font-family: 'Dancing Script', cursive;
}
@mixin invitation {
  font-family: 'Nanum Myeongjo', serif;
}
@mixin time {
  font-family: 'Alegreya', serif;
}
@mixin text {
  font-family: 'Playfair Display', serif;
}
@font-face {
  font-family: sezim;
  src: url(./font/Gamaleon.ttf);
}
@font-face {
  font-family: text;
  src: url(./font/RomanD.ttf);
}

body {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
p {
  @include motserat();
}
img {
  width: 100%;
}
span {
  &::before {
    content: '-';
  }
  &::after {
    content: '-';
    
  }
  @include time()
}
.invitationBlock {
  width: 100%;
  height: 100vh;
  background-image: url(./images/invitation.JPG);
  background-size: cover;
  position: relative;
  // h1 {

  // }
  &--text {
    width: 70%;
    left: 15%;
    top: 60%;
    position: absolute;
    h2 {
      // @include cursive();
      width: 100%;
      color: #fff;
      font-size: 45px;
      font-family: sezim;
      font-weight: 100;
      margin: 10px auto;
    }
    p {
      color: #fff;
      font-size: 20px;
    }

  }
}
.quoteBlock{
  width: 100%;
  background-image: url(./images/quote.JPG);
  background-size: cover;
  height: 100vh;
  position: relative;
  p {
    font-family: text;
    width: 85%;
    top: 50%;
    left: 7%;
    // margin-top: 30vh;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    background: #aaaaaa80;
    color: #161616;
  }
}
.dearGuest {
  padding:  20vh 0;
  width: 100%;
  text-align: center;
  z-index: 0;
  position: relative;
  .dear-img {
    border-radius: 30px;
    height: 200px;

  }
  &--blur {
    top: 35%;
    position: absolute;
    z-index: 1;
    @include motserat;
    
    h2 {
      font-weight: 400;
    }
    p {
      @include motserat;
      width: 80%;
      margin: 10px auto;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
}
.inviteYouBlock {
  width: 100%; 
  // height: 120vh;
  margin: 20px auto;
  background-image: url(./images/inviteYou.JPG);
  background-size: cover;
  padding: 5vh 0;
  &--text {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    background: #ffffff5d;
    h4 {
      text-transform: uppercase;
      font-weight: normal;

      @include motserat();
    }
    h3 {
      @include motserat();
      font-size: 24px;
    }
    h2 {
      @include motserat();
      
    }
    div {
      margin-bottom: 50px;
      span {
        @include motserat();
        font-size: 24px;
        font-weight: 100;
      }
      h4 {
        margin: 10px auto;
        font-weight: bold;
      }
      p {
        margin: 0 auto;
        
      }
    }
  }
}
.guestMessage {
  background-image: url(./images/guestMessage.JPEG);
  background-size: cover;
  height: 100vh;
  position: relative;
  div {
    width: 90%;
    background: #ffffff94;
    backdrop-filter: blur(10px);
    position: absolute;
    border-radius: 25px;
    left: 5%;
    top: 40%;
    padding: 30px 0;
    // h2 {
      
    // }
    p {
      &:first-child {
        width: 80%;
        margin: 20px auto;
      }
    }
    i{

      @include motserat;
      text-transform: lowercase;
      font-weight: 300;
      // font-family: sezim;
    }
  }
}
.guestForm {
  width: 100%;
  background-image: url(./images/inviteYou.JPG);
  background-size: cover;
  height: 100vh;
  padding: 40px 0;
  
}
.guestForm--textWrapper {
  background: #ffffff7a;
  width: 70%;
  padding: 40px;
  margin: 10vh auto;
  // padding: 30px;
  border: 1px solid #dbbca75b;
  border-radius: 25px;
  h2 {
    @include motserat()
  }
  p {
    @include motserat();
    width: 80%;
    margin: 10px auto;
  }
  form {
     @include motserat();
    width: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 5px;
      padding: 5px 15px;
      height: 20px;
      font-size: 14px;
      border-radius: 10px;
    }
    button {
      font-size: 16px;
      border-radius: 15px;
      border: none;
      padding: 10px 0;
      background: #000;
      color: #fff;
    }
   }
}